In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
print(sns.__version__)
matches = pd.read_csv('IPL Matches 2008-2020.csv')
balls = pd.read_csv('IPL Ball-by-Ball 2008-2020.csv')
country = pd.read_csv('Country.csv',  encoding='latin-1')
data = pd.merge(left=matches, right=balls, on='id', how='right')
data.shape

0.10.1

(193468, 34)

In [3]:
data = data.replace(to_replace='Rising Pune Supergiant',value='Rising Pune Supergiants')
data = data.replace(to_replace='Royal Challengers Bangalore',value='RCB')
data = data.replace(to_replace='Kolkata Knight Riders',value='KKR')
data = data.replace(to_replace='Mumbai Indians',value='MI')
data = data.replace(to_replace='Rajasthan Royals',value='RR')
data = data.replace(to_replace='Kings XI Punjab',value='KXIP')
data = data.replace(to_replace='Delhi Daredevils',value='DD')
data = data.replace(to_replace='Deccan Chargers',value='DC')
data = data.replace(to_replace='Chennai Super Kings',value='CSK')
data = data.replace(to_replace='Pune Warriors India',value='PWI')
data = data.replace(to_replace='Kochi Tuskers Kerala',value='KTK')
data = data.replace(to_replace='Sunrisers Hyderabad',value='SRH')
data = data.replace(to_replace='Rising Pune Supergiants',value='RPSG')
data = data.replace(to_replace='Gujarat Lions',value='GL')
data = data.replace(to_replace='Delhi Capitals',value='DCA')
data = data.replace(to_replace='Pune Warriors',value='PWI')

data.head(1)

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,...,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,RCB,KKR,RCB,field,...,0,1,0,0,NaN,NaN,NaN,NaN,KKR,RCB

In [2]:
data.isnull().sum()

id                       0
city                  3139
date                     0
player_of_match        372
venue                    0
neutral_venue            0
team1                    0
team2                    0
toss_winner              0
toss_decision            0
winner                 372
result                 372
result_margin         3597
eliminator             372
method              190260
umpire1                  0
umpire2                  0
inning                   0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
batsman_runs             0
extra_runs               0
total_runs               0
non_boundary             0
is_wicket                0
dismissal_kind      183973
player_dismissed    183973
fielder             186684
extras_type         183235
batting_team             0
bowling_team           191
dtype: int64

In [6]:
balls['dismissal_kind'].fillna('Not a wicket', inplace=True)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 193468 entries, 0 to 193467
Data columns (total 34 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                193468 non-null  int64
 1   city              190329 non-null  object
 2   date              193468 non-null  object
 3   player_of_match   193096 non-null  object
 4   venue             193468 non-null  object
 5   neutral_venue     193468 non-null  int64
 6   team1             193468 non-null  object
 7   team2             193468 non-null  object
 8   toss_winner       193468 non-null  object
 9   toss_decision     193468 non-null  object
 10  winner            193096 non-null  object
 11  result            193096 non-null  object
 12  result_margin     189871 non-null  float64
 13  eliminator        193096 non-null  object
 14  method            3208 non-null    object
 15  umpire1           193468 non-null  object
 16  umpire2           193468 non-null  object
 17  inning            193468 non-null  int64
 18  over              193468 non-null  int64
 19  ball              193468 non-null  int64
 20  batsman           193468 non-null  object
 21  non_striker       193468 non-null  object
 22  bowler            193468 non-null  object
 23  batsman_runs      193468 non-null  int64
 24  extra_runs        193468 non-null  int64
 25  total_runs        193468 non-null  int64
 26  non_boundary      193468 non-null  int64
 27  is_wicket         193468 non-null  int64
 28  dismissal_kind    9495 non-null    object
 29  player_dismissed  9495 non-null    object
 30  fielder           6784 non-null    object
 31  extras_type       10233 non-null   object
 32  batting_team      193468 non-null  object
 33  bowling_team      193277 non-null  object
dtypes: float64(1), int64(10), object(23)
memory usage: 51.7+ MB

In [3]:
data['date'] = pd.to_datetime(data['date'])
data['year'] = pd.DatetimeIndex(data['date']).year

In [9]:
data.columns

Index(['id', 'city', 'date', 'player_of_match', 'venue', 'neutral_venue',
       'team1', 'team2', 'toss_winner', 'toss_decision', 'winner', 'result',
       'result_margin', 'eliminator', 'method', 'umpire1', 'umpire2', 'inning',
       'over', 'ball', 'batsman', 'non_striker', 'bowler', 'batsman_runs',
       'extra_runs', 'total_runs', 'non_boundary', 'is_wicket',
       'dismissal_kind', 'player_dismissed', 'fielder', 'extras_type',
       'batting_team', 'bowling_team', 'year'],
      dtype='object')

In [10]:
data.batsman

0          RT Ponting
1         BB McCullum
2         BB McCullum
3         BB McCullum
4          RT Ponting
             ...
193463        RR Pant
193464        RR Pant
193465        RR Pant
193466        RR Pant
193467        SS Iyer
Name: batsman, Length: 193468, dtype: object

In [4]:
country.head()

            Player       Country
0    Aakash Chopra         India
1      Aaron Finch     Australia
2  Aavishkar Salvi         India
3   AB de Villiers  South Africa
4      Abdul Samad         India